service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /users/{userId} {
     allow read, write: if true;
  	}
    match /pledges/{id} {
      allow read: if true;
    }
    match /commitments/{id} {
      allow read, write, update, delete: if true;
    }
  }
}